@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.authorfooter {
  border-top: 1px solid $color-gray-border;
  max-width: $layout-post-width;
  padding-top: 20px;
  @include line-height(1);
  @include margin-top(1);
  @include margin-bottom(2);

  &__author {
    display: block;
    float: left;
    text-decoration: underline;
  }
  &__contact {
    display: block;
    float: right;
    text-decoration: underline;
  }
}

@include breakpoint-sm {
  .authorfooter {
    margin-left: auto;
    margin-right: auto;
  }
}
